@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(44 53 156), purple);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.app-container {
    width: 50vw;
    padding: 40px 20px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgb(255, 174, 0), purple);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upper-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.search {
    width: 200px;
    height: 35px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}

.search-btn {
    height: 20px;
    padding: 18px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.temperature {
    font-size: 50px;
    font-weight: 600;
}

.city {
    font-size: 30px;
    font-weight: 550;

}

.lower-main {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.humidity,
.wind-speed {
    width: 180px;
    display: flex;
    gap: 10px;

}

.text-humidity,
.text-wind-speed {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

@media screen and (max-width: 780px) {
    .lower-main {
        margin-top: 40px;
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width:650px) {
    .app-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .lower-main {
        flex-direction: row;

    }
}